
*{
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

/* header section  */
.header-bg{
    overflow: hidden;
    background-image: url(images/header-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 5%;
}
.jack{
    width: 40%;
    float: left;
    margin-left: 5%;
    margin-top: 5%;
    padding-left: 8%;
    padding-top: 10%;
}
.jack h2{
    font-size: 36px;
    letter-spacing: 2px;
    margin-bottom: -40px;
}
.jack h1{
    font-size: 48px;
    letter-spacing: 3px;
    color: #EC4C7A;
}
.jack p{
    margin-bottom: 40px;
}
.jack a{
    background-color: #EC4F91;
    font-size: 14px;
    text-decoration: none;
    color: white;
    padding: 12px 36px;
    border-radius: 5px;
}
.jack-image{
    width: 40%;
    float: left;
    margin-top: 7%;
}
.jack-image img{
    width: 100%;
}


/* biography section  */
.biography-bg{
    overflow: hidden;
    background-image: url(images/biography-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 5%;
    padding-bottom: 5%;
}

.biography-image{
    width: 40%;
    float: left;
}
.biography-image img{
    width: 90%;
    margin-left: 10%;
    padding-left: 10%;
}
.biography{
    width: 40%;
    float: left;
    margin-left: 10%;
    margin-top: 5%;
    padding-left: 2%;
}
.biography h2{
    font-size: 36px;
}
.biography p{
    margin-bottom: 40px;
}
.biography a{
    background-color: #EC4F91;
    font-size: 14px;
    text-decoration: none;
    color: white;
    padding: 12px 36px;
    border-radius: 5px;
}

/* Latest work section  */
.work-bg{
    overflow: hidden;
    background-image: url(images/latest-work-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 5%;
}
.work-bg h2{
    font-size: 36px;
    text-align: center;
    margin-bottom: 100px;
}
.margin-center{
    margin-left: 10%;
}
.work{
    width: 30%;
    float: left;
}
.work img{
    width: 90%;
}

/* client section  */
.footer-bg{
    overflow: hidden;
    text-align: center;
    margin-top: 15%;
    background-image: url(images/footer-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.bruce h2{
    font-size: 36px;
    margin-bottom: 80px;
}
.bruce h5{
    margin-top: -15px;
    letter-spacing: 1px;
    
}
.bruce blockquote{
    margin-top: 50px;
    font-weight: bold;
    margin-bottom: 80px;
}
.message{
    margin: auto;
    width: 45%;
    background-color: #EC4F8F;
    padding: 30px 40px;
    border-radius: 10px;
}
.message p{
    color: white;
}
.message h2{
    color: white;
}

/* footer section  */
.footer-bg p {
    text-align: center;
    margin-top: 12%;
    margin-bottom: 5%;
}